@media only screen and (min-width: 300px) {
  .App{
    margin: auto;
  }
  .side-menu{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 50px 30px;
  }
  .side-menu a{
    font-size: 2rem;
    color: black;
    margin: 1rem;
  }
  .navbar{
    position: sticky;
    top: 0;
    z-index: 5;
  }
  .carousel {
    margin: auto !important; 
    height: 250px !important;
  }
  .carousel-item{
    min-height: 250px !important;
  }
  .carousel-item img{
    height: 100%;
    object-fit: cover;
  }
  .brand-logo {
    height: 56px !important;
  }

  .brand-logo img {
    height: 100% !important;
  }

  .home-card{
    max-width: 900px;
    margin: 10rem auto;
    text-align: center;
  }
  .home-card > img{
    width: 100%;
  }
  .home-card h1{
    font-size: 2.5rem;
    font-weight: 600;
  }
  .home-card p{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
  }

  .home-title {
    text-align: center;
    margin: 7rem auto;
  }

  .home-title h1{
    font-size: 3rem;
    font-weight: 700;
  }

  .home-title h5{
    font-size: 1.2rem;

  }

  .home-title-btn {
    margin-top: 3rem;
  }

  .circle {
    top: 30px;
  }
  
  .secondary-content {
    top: 30px !important;
    color: #E64A19 !important;
  
  }

  .carousel .indicators .indicator-item {
    background-color: #e64919b2;
    height: 16px;
    width: 16px;
    margin: 8px 6px;
  }

  .carousel .indicators .indicator-item.active {
    background-color: #E64A19;

}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #e64919 !important;
    color: white;

}

.tabs .tab a:hover, .tabs .tab a.active {
   background-color: #E64A19 !important;
   color: white;
}

.contact-btn {
  /* max-width: 600px; */
  margin: auto !important;
  width: 500px;
}
.tab-container{
  max-width: 900px;
  margin: auto;
}
.graph{
  width: 100%;
}
.form-container{
  height: 100vh;
}
}

@media only screen and (min-width: 450px){
  .carousel{
    height: 300px ;
  }
  .carousel-item{
    min-height: 300px !important;
  }
}
@media only screen and (min-width: 540px){
  .carousel{
    min-height: 450px ;
  }
  .carousel-item{
    min-height: 450px !important;
  }
}

@media only screen and (min-width: 650px){
  .carousel{
    min-height: 550px ;
  }
  .carousel-item{
    min-height: 550px !important;
  }
  .graph{
    width: 80%;
  }
  .App{
    width: 90%;
  }
}

@media only screen and (min-width: 1200px){
  .App{
    width: 70%;
  }
  .home-title h1{
    font-size: 4rem;
    font-weight: 700;
  }

  .home-title h5{
    font-size: 1.7rem;
  }

  .graph{
    width: 50% !important;
  }
  .card-panel{
    padding: 50px 200px;
  }
}

