@media only screen and (min-width: 300px) {
  .html, body, .main-container{
    min-height: calc(100vh - 64px);
  }
  .col{
    padding: 0 !important;
  }
  .App{
    margin: auto;
  }
  .side-menu{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 50px 30px;
  }
  .side-menu a{
    font-size: 2rem;
    color: black;
    margin: 1rem;
  }
  .navbar{
    position: sticky;
    top: 0;
    z-index: 999;
  }
  #SideNav-10{
    z-index: 998 !important;
  }
  .carousel {
    margin: auto !important; 
    height: 250px !important;
  }
  .carousel-item{
    min-height: 250px !important;
  }
  .carousel-item img{
    height: 100%;
    object-fit: cover;
  }
  .brand-logo {
    height: 56px !important;
  }

  .brand-logo img {
    height: 100% !important;
  }

  .home-card{
    max-width: 900px;
    margin: 10rem auto;
    text-align: center;
  }
  .home-card > img{
    width: 100%;
  }
  .home-card h1{
    font-size: 2.5rem;
    font-weight: 600;
  }
  .home-card p{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
  }

  .home-title {
    text-align: center;
    margin: 7rem auto;
  }

  .home-title h1{
    font-size: 3rem;
    font-weight: 700;
  }

  .home-title h5{
    font-size: 1.2rem;

  }

  .home-title-btn {
    margin-top: 3rem;
  }

  .circle {
    top: 30px;
  }
  
  .secondary-content {
    top: 30px !important;
    color: #E64A19 !important;
  
  }

  .carousel .indicators .indicator-item {
    background-color: #e64919b2;
    height: 16px;
    width: 16px;
    margin: 8px 6px;
  }

  .carousel .indicators .indicator-item.active {
    background-color: #FF7043;

}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #FF7043 !important;
    color: white;

}

.tabs .tab a:hover, .tabs .tab a.active {
   background-color: #FF7043 !important;
   color: white;
}

.contact-btn {
  /* max-width: 600px; */
  margin: auto !important;
  width: 500px;
}
.tab-container{
  max-width: 900px;
  margin: auto;
  position: relative;
}

.graph{
  width: 100%;
}
.form-container{
  height: 100vh;
}
.quantity-input{
  width: 50px !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-radius: 5px !important;
  text-align: center !important;
}
.sku{
  display: none;
}
.features{
  display: none;
  width: 250px;
}

.pricing-homepage h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

.pricing-card {
  min-width: 250px;
  text-align: center;
  margin: 10px;
}

.pricing-header {
  padding: 12px;
  background-color: #FF7043;
  color: white;
}

.pricing-header h3 {
  font-weight: 600;
}
}

@media only screen and (min-width: 450px){
  .carousel{
    height: 300px ;
  }
  .carousel-item{
    min-height: 300px !important;
  }
}
@media only screen and (min-width: 540px){
  .carousel{
    min-height: 450px ;
  }
  .carousel-item{
    min-height: 450px !important;
  }
}

@media only screen and (min-width: 650px){
  .carousel{
    min-height: 550px ;
  }
  .carousel-item{
    min-height: 550px !important;
  }
  .graph{
    width: 80%;
  }
  .App{
    width: 90%;
  }
  .table{
    width: 100%;
    overflow: scroll;
    height: calc(90vh);
  }
  
  .dashboard-nav{
    position: absolute;
    top: 65px;
  }
}

@media only screen and (min-width: 1200px){
  .mobile-dashboard{
    display: none !important;
  }
  .dashboard-wrapper{
    display: flex;
  }
  .dashboard-container{
    display: block;
    position: relative;
  }

  .sku, .features{
    display: block;
  }

  .dashboard-container > div{
    position: absolute;
  }
  .dashboard-side-menu{
    height: calc(100vh - 64px);
    width: 10%;
    padding-top: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.219);
  }
  .dashboard-side-menu ul{
    margin-top: 0;
  }

  .dashboard-side-menu ul li{
    font-size: 1.2rem;
    /* text-align: left; */
    margin: auto;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .dashboard-side-menu ul li:hover, .dashboard-side-menu ul li:hover > a{
    background-color: #FF7043;
    color: white;
  }

  .dashboard-side-menu ul li:focus, .dashboard-side-menu ul li:focus > a{
    background-color: #FF7043;
    color: white;
  }

  .dashboard-side-menu ul .active, .dashboard-side-menu ul .active > a{
    background-color: #FF7043;
    color: white;
  }
  
  .dashboard-side-menu ul li a{
    color: rgba(0, 0, 0, 0.4);
  }

  .dashboard-side-menu-link{
    display: flex;
  }
  .dashboard-side-menu-link i{
    margin-right: 10px;
  }
  .fas{
    line-height: 1.5 !important;
  }
 
  .dashboard-content{
    width: 90%;
    height: calc(100vh - 64px);
    left: 10%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  
  .App{
    width: 70%;
  }
  .home-title h1{
    font-size: 4rem;
    font-weight: 700;
  }

  .home-title h5{
    font-size: 1.7rem;
  }
  /*Home dashboard styling*/
  .home-dashboard-container{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .top, .bottom{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }
  .top div, .bottom div{
    width: 30%;
    height: 400px;
  }

}

